# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea
.github
.vscode
.prettierrc

# MD
ARCHITECTURE.md
TYPESCRIPT_GUIDE.md
CONTAINER_ALIGNMENT_SYSTEM.md
UNICODE_BOM_FIX.md
SEQUENTIAL_LOADING_IMPLEMENTATION.md
PROPER_ATOMIC_DESIGN.md
SEARCH_BAR_DOCUMENTATION.md
IMPLEMENTATION_SUMMARY.md
REALTIME_BIDDING_DOCUMENTATION.md
REALTIME_BIDDING_README.md
INTERFACE_SEPARATION_COMPLETION_REPORT.md
INTERFACE_SEPARATION_DETAILED_SUMMARY.md
INTERFACE_SEPARATION_SUMMARY.md