@import '../../_settings/variables';

// Custom checkbox styles
.form-check {
  // Additional custom styles can be added here
}

.form-check-input {
  &:focus {
    border-color: $primary;
    box-shadow: 0 0 0 0.2rem rgba($primary, 0.25);
  }

  &.is-invalid:focus {
    border-color: $danger;
    box-shadow: 0 0 0 0.2rem rgba($danger, 0.25);
  }
}
